<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div id="navbar">
        <img src="img/logo.svg" alt="logo">
        
        <ul>
            <li><a href="#home">Home</a></li>
            <li>  
                <div class="subnav">
                <button class="subnavbtn">New<i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  <a href="#">......</a>
                  <a href="#">.......</a>
                  <a href="#">....</a>
                </div>
              </div> 
            </li>
            <li>  
                <div class="subnav">
                <button class="subnavbtn">Categoria<i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                </div>
              </div> 
            </li>
            <li>  
                <div class="subnav">
                <button class="subnavbtn">Historico<i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                </div>
              </div> 
            </li>
            <li>  
                <div class="subnav">
                <button class="subnavbtn">Compras<i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                  <a href="#">.......</a>
                </div>
              </div> 
            </li>
        </ul> 
        kjkjkjkjkjkjkj
            <input type="text" placeholder="pesquise" id="txtPmenu" name="txtPmenu">
            <button id="carrinho">sacola</button>
            <button id="usuario">perfil</button>
      </div>
      <section class="promo">
          <div class="pacotes">
            <center><h2>PREMIUM</h2></center>
          </div>
          <div class="pacote">
            <center><h2>+ POPULAR</h2></center>
          </div>
          <div class="pacotes">
            <center><h2>+ EM CONTA</h2></center>
          </div>
      </section>
      <section class="promo2">

      </section>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <!--scripts-->
    <script src="js/headerScroll.js"></script>
    <!--scripts-->
</body>
</html>


