<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Estilos-->
    <link rel="stylesheet" href="css/login.css">
    <!--Estilos-->
    <!--Favicon-->
    
    <!--Favicon-->
    <title>Login</title>
</head>
<body>
    <div class="robo">
        <img src="img/robo.svg" alt="foto do mascote do site">
    </div>
    <div class="container">
        <div class="login">
            <form action="" method="post">
                <input type="text" name="txtEmail" id="txtEmail" placeholder="E-mail:"required><br><br>
                <input type="password" name="txtSenha" id="txtSenha" placeholder="Senha:"required><br><br>
                <a href="" class="esqS">Esqueci minha senha.</a>
                <input type="submit" value="Login" class="btn"><br><br>
                <a href="" class="cad">________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cadastre-se&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;________</a>
            </form>
            <a href="">
                <div class="box">
                    
                        <img src="img/google-37 1.svg" alt="">
                   
                </div>
            </a>
            <a href="">
                <div class="box">
                  
                        <img src="img/apple-4 1.svg" alt="">
                    
                </div>
            </a>
            <a href="">
                <div class="box">
                    <img src="img/facebook-13 1.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</body>
</html>